/* Set custom root vars */
:root {
  --primary: rgb(7, 59, 76);
  --is-light: rgb(17, 138, 178);
  --is-dark: rgb(7, 59, 76);
  text-align: center;
}

.is-light{
    color:black;
    background-color: var(--is-light);
}
.is-dark{
    color:white;
    background-color: var(--is-dark);
}